.ToDoListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 10px 20px;
    border-bottom: 1px solid #5B5D72;
    box-sizing: border-box;
    font-size: 14px;;
    color: #9799AE;
  }
  
  .ToDoListItem:last-child {
    border-bottom: none;
  }

  .ItemWrapper {
    display: flex;
    align-items: center;
  }
  
  .ItemIcon {
    align-items: center;
    height: 24px;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .ItemText {
    // align-items: center;
  }

  .Button {
    border: none;
    background: #25273C;
    cursor: pointer;
  }

  .Check {
    width: 20px;
    height: 20px;
    margin: 2px 20px 2px 4px;
    background: linear-gradient(45deg, #2D18A1 0%, #781C73 100%);
    border-radius: 50%;
  }

  .CheckBoldIcon {
    margin: 0;
  }

  .CheckText {
    text-decoration: line-through;
  }